<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="angular-material/angular-material.css" rel="stylesheet"/>
</head>
<body>
<script>
    window.FW_ID = "#finance-widget";
</script>
<style>
    .fw-container {
        height: 300px;
        width: 400px;
        position: relative;
        border: 1px black solid;
        padding: 1px;
    }
    #finance-widget {
        /*background-color: #3399ff;*/
        height: 100%;
        width: 100%;
    }
</style>
<div class="fw-container">
    <div id="finance-widget">
        <div ng-controller="FinanceWidgetController" layout="column" style="height:500px;" ng-cloak>
            <section layout="row" flex>
                <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="fw-md-menu">
                    <md-toolbar class="md-theme-light">
                        <h1 class="md-toolbar-tools">Sidenav Left</h1>
                    </md-toolbar>
                    <md-content ng-controller="MenuController" layout-padding>
                        <form>
                            <md-input-container>
                                <label for="testInput">Test input</label>
                                <input type="text" id="testInput"
                                       ng-model="data" md-autofocus>
                            </md-input-container>
                        </form>
                        <md-button ng-click="close()" class="md-primary">
                            Close Sidenav Left
                        </md-button>
                    </md-content>
                </md-sidenav>

                <md-content flex layout-padding>
                    <div layout="column" layout-fill layout-align="top center">
                        <div>
                            <md-button class="md-icon-button md-primary" ng-click="toggleMenu()" aria-label="фильтр">
                                <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                            </md-button>
                        </div>
                    </div>
                    <div flex>
                        <md-list>
                            <md-list-item class="md-3-line" ng-repeat="item in debets">
                                <span>{{item.bank}}</span>
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{ item.name }}</h3>
                                    <h4>{{ item.percents }}</h4>
                                    <p>{{ item.period }}</p>
                                </div>
                            </md-list-item>
                    </div>
                </md-content>
            </section>
        </div>

    </div>
</div>

<script src="bundle.js"></script>
<script>
    window.startWidget('finance-widget');
</script>


</body>
</html>